exportPattern("^[[:alpha:]]+")
importFrom(HMM, posterior)
importFrom(HMM, viterbi)
importFrom(HMM, initHMM)
importFrom(caret, confusionMatrix)
importFrom(caret, preProcess)
#import(e1071)
importFrom(randomForest, randomForest)
importFrom(signal, specgram)
importFrom(stringr, str_match)
importFrom(stringr, str_trim)
importFrom(tools, file_path_sans_ext)