exportPattern("^[[:alpha:]]+")
importFrom(HMM, posterior)
importFrom(HMM, viterbi)
importFrom(HMM, initHMM)
importFrom(caret, confusionMatrix)
importFrom(caret, preProcess)
#import(e1071)
importFrom(randomForest, randomForest)
importFrom(signal, specgram)
importFrom(stringr, str_match)
importFrom(stringr, str_trim)
importFrom(tools, file_path_sans_ext)
importFrom(stats, acf)
importFrom(stats, cor)
importFrom(stats, median)
importFrom(stats, predict)
importFrom(stats, quantile)
importFrom(stats, sd)
importFrom(utils, data)
importFrom(utils, read.csv)
importFrom(utils, write.csv)